<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/.." sizes="any" type="image/..">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
    <title>About</title>
</head>
<body>
    <header class="header">
        <h1>About</h1>
    </header>
    <main>
        <section>
            {{> nav }}
        </section>
        <section>
            <article class="article">
                    I am a creatively driven graduate seeking a software developer position 
                    with a commitment and passion for programming, technology, and mastering 
                    new skills. I use source control and have relevant project development 
                    experience, along with scrum and agile methodology exposure. Thank you 
                    for visiting my website.
            </article>
        </section>
    </main>
</body>
</html>