<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" sizes="any" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
    <title>Contact</title>
</head>
<body>
    <header class="header">
        <h1>Nelson Nyland</h1>
    </header>
    <main>
        <section>
            {{> nav }}
        </section>
        <section>
            <h2 class="sub-header">Contact</h2>
            <ul id="contact">
                <li>Nelson Nyland</li>
                <li>Tacoma, Washington</li>
                <li><a href="mailto:nelsonnyland@gmail.com">nelsonnyland@gmail.com</a></li>
                <li><a href="https://github.com/nelsonnyland">github.com/nelsonnyland</a></li>
                <li><a href="https://linkedin.com/in/nelsonnyland">linkedin.com/in/nelsonnyland</a></li>
            </ul>
        </section>
    </main>
</body>
</html>