<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" sizes="any" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
    <title>Nelson Nyland</title>
</head>
<body>
    <header class="header">
        <h1>Nelson Nyland</h1>
    </header>
    <main>
        <section>
            {{> nav }}
        </section>
        <section>
            <div class="flex-container">
                <div class="box">
                    <figcaption class="figcaption">NicholasNyland</figcaption>
                    <a href="https://github.com/nelsonnyland/NicholasNyland">
                        <img src="img/NicholasNyland.JPG" alt="NicholasNyland" class="home-img">
                    </a>
                </div>
    
                <div class="box">
                    <figcaption class="figcaption">WorldwideMovieDatabase</figcaption>
                    <a href="https://github.com/nelsonnyland/WorldwideMovieDatabase">
                        <img src="img/WMDb.JPG" alt="WMDb" class="home-img">
                    </a>
                </div>
    
                <div class="box">
                    <figcaption class="figcaption">ToDo</figcaption>
                    <a href="https://github.com/nelsonnyland/ToDo">
                        <img src="img/ToDo.JPG" alt="ToDo" class="home-img">
                    </a>
                </div>
    
                <div class="box">
                    <figcaption class="figcaption">FileSafe</figcaption>
                    <a href="https://github.com/nelsonnyland/FileSafe">
                        <img src="img/FileSafe.JPG" alt="FileSafe" class="home-img">
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <script src="scripts/main.js"></script>
    </footer>
</body>
</html>