<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" sizes="any" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
    <title>Info</title>
</head>
<body>
    {{> header }}
    <main>
        <section>
            <h2 class="sub-header">About</h2>
            <img src="https://avatars3.githubusercontent.com/u/29189956?v=4" alt="profile img" id="profile-img">
            <div class="article">
                I am a creatively driven software developer with a commitment and passion 
                for programming, technology, and mastering new skills. I use source control 
                and have relevant project development experience using scrum and agile methods.
            </div>
        </section>
        <section>
            <h2 class="sub-header">Contact</h2>
            <ul id="contact">
                <li>Nelson Nyland</li>
                <li>Tacoma, Washington</li>
                <li><a href="mailto:nelsonnyland@gmail.com">nelsonnyland@gmail.com</a></li>
                <li><a href="https://github.com/nelsonnyland">github.com/nelsonnyland</a></li>
                <li><a href="https://linkedin.com/in/nelsonnyland">linkedin.com/in/nelsonnyland</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <script src="scripts/about.js"></script>
    </footer>
</body>
</html>