<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/.." sizes="any" type="image/..">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
    <title>News</title>
</head>
<body>
    <header class="header">
        <h1>News</h1>
    </header>
    <main>
        <section>
            {{> nav }}
        </section>
        <section class="news">
            <span id="status"></span>
            <ul id=news>

            </ul>
        </section>
    </main>
    <footer>
        <script src="scripts/news.js"></script>
    </footer>
</body>
</html>
