* {
    font-family: 'Calibri Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article {
    width: 12.5em;
    margin: 0;
    margin-left: 5%;
    margin-right: 70%;
    text-align: justify;
    text-justify: inter-character;
}

.box {
    max-width: 40%;
    padding: 5%;
    padding-top: 2%;
}

.center-text {
    text-align: center;
}

#contact {
    padding-left: 5%;
    list-style-type: none;
    line-height: 2em;
}

#contact a {
    color: black;
    text-decoration: none;
}

#contact a:hover {
    color: #3399ff;
}

#error {
    padding-top: 1em;
    padding-left: 3em;
    font-size: 2em;
}

.figcaption {
    padding-bottom: 1%;
    font-size: 1.7em;
    color: #3399ff;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: wrap; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}

.header {
    padding-top: 0.3%;
    padding-left: 5%;
    font-size: 1.13em;
    cursor: default;
    /* color: #3399ff; */
}

.home-img {
    max-width: 100%;
}

.li-child {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    list-style-type: none;
    line-height: 1.5em;
}

.li-parent {
    padding-top: 1%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    list-style-type: none;
    line-height: 1.5em;
}

.link {
    color: black;
    text-decoration: none;
}

#profile-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding-left: 5%;
}

.nav {
    display: flex;
    padding-left: 5%;
    list-style-type: none;
    align-content: space-around;
    /* overflow: hidden; */
}

.nav a {
    padding: 0.3em; /* 0.3% */
    margin-right: 0.3em; /* 0.2% */
    background-color: #737373;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #3399ff;
    cursor: pointer;
}

#profile-img {
    padding-top: 1em;
    padding-bottom: 1em;
}

.span {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 0;
    font-weight: bold;
}

.sub-header {	
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 0;
    color: #3399ff;
    font-size: 1.7em;
    font-weight: normal; 
}

.ul {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    margin: 0;
    list-style-type: none;
    line-height: 1.5em;
}

.ul a {
    color: black;
    text-decoration: none;
}

.ul a:hover {
    color: #3399ff;
}

@media only screen and (min-width: 500px) and (max-width: 777px) {
    .figcaption {
        font-size: 1.2em;
    }

    #header {
        padding-left: 3%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    .figcaption {
        font-size: 0.9em;
    }

    .flex-container {
        padding-right: 6%;
    }
}

@media only screen and (max-width: 400px) {
    .article {
        text-align: left;
    }
    
    .figcaption {
        font-size: 0.7em;
    }

    .flex-container {
        padding-right: 6%;
    }
}