@font-face {
    font-family: "Agency FB";
    font-style: normal;
    font-weight: normal;
    src: local("Agency FB"), 
         url("AGENCYR.woff") format("woff"),
         url("AGENCYR.ttf") format("truetype");
}

@font-face {
    font-family: "Calibri Light";
    font-style: normal;
    font-weight: lighter;
    src: local("Calibri"), 
         url("calibril.woff") format("woff"),
         url("calibril.ttf") format("truetype");
}

* {
    font-family: "Calibri Light", Helvetica, Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.article {
    width: 12.5em;
    margin: 0;
    margin-left: 5%;
    margin-right: 70%;
    text-align: justify;
    text-justify: inter-character;
}

.box {
    max-width: 40%;
    padding: 5%;
    padding-top: 2%;
}

.center-text {
    text-align: center;
}

#contact {
    padding-left: 5%;
    list-style-type: none;
    line-height: 2em;
}

#contact a {
    color: black;
    text-decoration: none;
}

#contact a:hover {
    color: #3399ff;
}

#error {
    text-align: center;
    font-size: 10em;
}

.figcaption {
    padding-bottom: 1%;
    font-size: 1.7em;
    color: #3399ff;
    text-decoration: none;
}

.flex-container {
    display: flex; /* inline-flex */
    flex-wrap: wrap;
    /* flex-flow: wrap; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}

.header {
    display: flex;
    /* align-content: space-evenly; */
    cursor: default;
}

header a {
    flex-grow: 1;
    font-family: "Agency FB";
    font-size: 1.5em;
    text-decoration: none;
}

.home-img {
    max-width: 100%;
}

.li-child {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    list-style-type: none;
    line-height: 1.5em;
}

.li-parent {
    padding-top: 1%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    list-style-type: none;
    line-height: 1.5em;
}

.link {
    color: black;
    text-decoration: none;
}

#profile-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding-left: 5%;
}

#profile-img {
    padding-top: 1em;
    padding-bottom: 1em;
}

.span {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 0;
    font-weight: bold;
}

.sub-header {	
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 0;
    color: #3399ff;
    font-size: 1.7em;
    font-weight: normal; 
}

.ul {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.6%;
    margin: 0;
    list-style-type: none;
    line-height: 1.5em;
}

.ul a {
    color: black;
    text-decoration: none;
}

.ul a:hover {
    color: #3399ff;
}

@media only screen and (min-width: 500px) and (max-width: 777px) {
    .figcaption {
        font-size: 1.2em;
    }

    #header {
        padding-left: 3%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    .article {
        text-align: left;
    }
    
    .figcaption {
        font-size: 0.9em;
    }

    .flex-container {
        padding-right: 6%;
    }
}

@media only screen and (max-width: 400px) {
    .article {
        text-align: left;
    }
    
    .figcaption {
        font-size: 0.7em;
    }

    .flex-container {
        padding-right: 6%;
    }
}