* {
    font-family: 'Calibri Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    /* max-width: 700px; */
    max-width: 40%;
    padding: 5%; /* 5% */
    /* margin-top: 2%; */
    /* margin-bottom: 3%; */
}

.center-text {
    text-align: center;
}

#contact {
    padding-left: 5%;
    list-style-type: none;
    line-height: 2em;
    font-weight: bold;
}

#contact a {
    color: black;
    text-decoration: none;
}

.figcaption {
    padding-bottom: 2%;
    font-size: 1.8em;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: wrap; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* padding-left: 5%; */
}

#header {
    padding-top: 0.3%;
    padding-left: 5%;
    font-size: 1.3em;
}

.img {
    max-width: 100%;
}


#nav {
    display: flex;
    padding-left: 5%;
    list-style-type: none;
    align-content: space-around;
    /* overflow: hidden; */
}

#nav li {
    padding: 0.3em; /* 0.3% */
    margin-right: 0.3em; /* 0.2% */
    background-color: #737373;
    border-radius: 10%;
}

#nav a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
}

.news {	
    padding-left: 5%;	
    padding-right: 5%;	
    list-style-type: none;	
}

@media only screen and (max-width: 777px) {
    .box {
        padding: 3%;
    }

    #header {
        padding-left: 3%;
        font-size: 1em;
    }
    
    #nav {
        padding-left: 3%;
    }

    .figcaption {
        font-size: 0.7em;
    }
}